<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO 8859-1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Segmentacion de Huespedes</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css">
</head>

<body ng-app="myApp" ng-cloak style="background-color: #efefef" ng-controller="myCtrl" layout="column">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span>**** Segmentacion de Clientes ****</span>
    </div>
  </md-toolbar>
  <md-content flex style="width:420">
    <md-card>
      <md-card-content>
        <p><em>Ingrese los datos del huesped:</em></p>
       </md-card-content>
    </md-card>
    <md-card>
      <md-card-content>

        <div layout="row" layout-align="space-between center">
          <span>Edad</span>
          <md-slider-container> {: data.Edad :}&nbsp;
            <md-slider aria-label="Slider" min="20" max="80" ng-model="data.Edad" id="edad-slider"></md-slider>
          </md-slider-container>
        </div>

	<div layout="row" layout-align="space-between center">
          <span>Actividad Laboral</span>
          <md-select ng-model="data.Actividad_Laboral" placeholder="Select">
            <md-option value="Empleado">Empleado</md-option>
            <md-option value="Empresario">Empresario</md-option>
            <md-option value="Estudiante">Estudiante</md-option>
            <md-option value="Gerente">Gerente</md-option>
            <md-option value="Independiente">Independiente</md-option>
            <md-option value="Jubilado">Jubilado</md-option>
            <md-option value="Tecnico">Tecnico</md-option>
          </md-select>
        </div>
	      
	<div layout="row" layout-align="space-between center">
          <span>Nivel SocioEconomico</span>
          <md-select ng-model="data.Nivel_Socioeconomico" placeholder="Select">
            <md-option value="Alto">Alto</md-option>
            <md-option value="Media">Media</md-option>
          </md-select>
        </div>
	      
	<div layout="row" layout-align="space-between center">
          <span>Estado Civil</span>
          <md-select ng-model="data.Estado_Civil" placeholder="Select">
            <md-option value="Casado">Casado</md-option>
            <md-option value="Divorciado">Divorciado</md-option>
	    <md-option value="Soltero">Soltero</md-option>
          </md-select>
        </div>
	
	<div layout="row" layout-align="space-between center">
          <span>Nivel de Educacion</span>
          <md-select ng-model="data.Nivel_Educacion" placeholder="Select">
            <md-option value="Primaria">Primaria</md-option>
            <md-option value="Secundaria">Secundaria</md-option>
	    <md-option value="Tecnico">Tecnico</md-option>
	    <md-option value="Universitario">Universitario</md-option>
          </md-select>
        </div>	
	      
	<div style="margin-bottom:32px" layout="row" layout-align="space-between center">
          <span>Viaja Solo</span>
          <md-radio-group ng-model="data.Viaja_Solo" layout="row">
            <md-radio-button value="No">No</md-radio-button>
            <md-radio-button value="Si">Si</md-radio-button>
          </md-radio-group>
        </div>
	  
	<div layout="row" layout-align="space-between center">
          <span>Medio Reserva</span>
          <md-select ng-model="data.Medio_Reserva" placeholder="Select">
            <md-option value="Email">Email</md-option>
            <md-option value="Telefono">Telefono</md-option>
	    <md-option value="Web">Web</md-option>
          </md-select>
        </div>	
	     
	<div layout="row" layout-align="space-between center">
          <span>Registros en Hotel</span>
          <md-slider-container> {: data.Registros_Hotel :}&nbsp;
            <md-slider aria-label="Slider" min="1" max="35" ng-model="data.Registros_Hotel" id="reghotel-slider"></md-slider>
          </md-slider-container>
        </div>
	      
	<div style="margin-bottom:32px" layout="row" layout-align="space-between center">
          <span>Tipo Viaje</span>
          <md-radio-group ng-model="data.Tipo_Viaje" layout="row">
            <md-radio-button value="Negocio">Negocio</md-radio-button>
            <md-radio-button value="Placer">Placer</md-radio-button>
          </md-radio-group>
        </div>

      </md-card-content>

      <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="submit()" class="md-accent md-raised">Predecir</md-button>
      </md-card-actions>

    </md-card>
    <md-card>
      <md-card-content>
        <div layout="row" layout-align="space-between center">
          <span style="font-weight:bold">Predicción:</span>
          <span style="color:blue;font-weight:bold">{: result :}</span>
        </div>
      </md-card-content>
    </md-card>
  </md-content>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>

  <script>
    var app = angular.module('myApp', ['ngMaterial']);
    app.config(['$interpolateProvider', function($interpolateProvider) {
      $interpolateProvider.startSymbol('{:');
      $interpolateProvider.endSymbol(':}');
    }]);
    app.config(function($mdThemingProvider) {
      $mdThemingProvider.theme('default')
        .primaryPalette('blue-grey')
        .accentPalette('orange');
    });
    app.controller('myCtrl', ['$scope', '$http',
      function($scope, $http) {
        $scope.data = {};
        $scope.submit = function() {
          console.log($scope.data)
          $scope.result = "Wait...";
          $http({
            method : 'POST',
		  url : 'http://35.163.117.159:5000/hotel/huesped/',
            headers: {
                'Content-Type': 'application/json'
            },
            data: $scope.data
          }).success(function(data, status, headers, config) {
            $scope.result = data;
          }).error(function(data, status, headers, config) {
            $scope.result = 'Error';
          });
        }
      }
    ]);
  </script>
</body>
</html>
