<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO 8859-1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>RUL Cable de Hoist</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css">
</head>

<body ng-app="myApp" ng-cloak style="background-color: #efefef" ng-controller="myCtrl" layout="column">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span>RUL Cable de Hoist</span>
    </div>
  </md-toolbar>
  <md-content flex style="width:420">
    <md-card>
      <md-card-content>
        <p><em>Ingrese los datos del cable:</em></p>
       </md-card-content>
    </md-card>
    <md-card>
      <md-card-content>

	      
	<div layout="row" layout-align="space-between center">
          <span>Marca</span>
          <md-select ng-model="data.Marca" placeholder="Select">
            <md-option value="BRIDON">BRIDON</md-option>
            <md-option value="CAT">CAT</md-option>
            <md-option value="PROCABLES">PROCABLE</md-option>
            <md-option value="WIRE ROPE">WIRE ROPE</md-option>
          </md-select>
        </div>
	      
	      
        <div layout="row" layout-align="space-between center">
          <span>Diametro</span>
          <md-slider-container> {: data.Diametro :}&nbsp;
            <md-slider aria-label="Slider" min="2.5" max="3.5" ng-model="data.Diametro" id="dia-slider"></md-slider>
          </md-slider-container>
        </div>
	 
	      
        <div layout="row" layout-align="space-between center">
          <span>Toneladas</span>
          <md-slider-container> {: data.Toneladas :}&nbsp;
            <md-slider aria-label="Slider" min="20" max="4800000" ng-model="data.Toneladas" id="ton-slider"></md-slider>
          </md-slider-container>
        </div>

	<div layout="row" layout-align="space-between center">
          <span>Pases Leves</span>
          <md-slider-container> {: data.Leve :}&nbsp;
            <md-slider aria-label="Slider" min="1402" max="12654" ng-model="data.Leve" id="lev-slider"></md-slider>
          </md-slider-container>
        </div>
	   
	<div layout="row" layout-align="space-between center">
          <span>Pases Moderados</span>
          <md-slider-container> {: data.Moderado :}&nbsp;
            <md-slider aria-label="Slider" min="1080" max="9270" ng-model="data.Moderado" id="mod-slider"></md-slider>
          </md-slider-container>
        </div>
	      
	<div layout="row" layout-align="space-between center">
          <span>Pases Medios</span>
          <md-slider-container> {: data.Medio :}&nbsp;
            <md-slider aria-label="Slider" min="1080" max="14701" ng-model="data.Medio" id="med-slider"></md-slider>
          </md-slider-container>
        </div>	  
      
	<div layout="row" layout-align="space-between center">
          <span>Pases Severos</span>
          <md-slider-container> {: data.Severo :}&nbsp;
            <md-slider aria-label="Slider" min="1729" max="13442" ng-model="data.Severo" id="sev-slider"></md-slider>
          </md-slider-container>
        </div>	
	      
	      
      </md-card-content>

      <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="submit()" class="md-accent md-raised">Predecir</md-button>
      </md-card-actions>

    </md-card>
    <md-card>
      <md-card-content>
        <div layout="row" layout-align="space-between center">
          <span style="font-weight:bold">Predicción:</span>
          <span style="color:blue;font-weight:bold">{: result :}</span>
        </div>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-content>
        <p><em><center>RUL = Vida Util (Hrs) - Uso Actual (Hrs)</center></em></p>
       </md-card-content>
    </md-card>

  </md-content>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>

  <script>
    var app = angular.module('myApp', ['ngMaterial']);
    app.config(['$interpolateProvider', function($interpolateProvider) {
      $interpolateProvider.startSymbol('{:');
      $interpolateProvider.endSymbol(':}');
    }]);
    app.config(function($mdThemingProvider) {
      $mdThemingProvider.theme('default')
        .primaryPalette('blue-grey')
        .accentPalette('orange');
    });
    app.controller('myCtrl', ['$scope', '$http',
      function($scope, $http) {
        $scope.data = {};
        $scope.submit = function() {
          console.log($scope.data)
          $scope.result = "Wait...";
          $http({
            method : 'POST',
		  url : 'http://35.163.117.159:5000/rul/hoist/',
            headers: {
                'Content-Type': 'application/json'
            },
            data: $scope.data
          }).success(function(data, status, headers, config) {
            $scope.result = data;
          }).error(function(data, status, headers, config) {
            $scope.result = 'Error';
          });
        }
      }
    ]);
  </script>
</body>
</html>
